#countdown-container {
  width: 100%;
  max-width: 500px;
}

body {
    background-color: #EEEEEE;
}

div#title {
  margin: auto;
  width: 50%;
  padding: 5px;
  font-family: 'DO Futuristic', sans-serif;
  font-size: 20px; 
  }
  
div.page {
  width: 100%;
  text-align: center;
  background-color: #EEEEEE;
  padding: 1px;
}

div.center {
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    background-color: #EEEEEE;
}

div.circle {
    
    padding: 3px;

}


div.button {
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
}

div.std-text {
    padding: 5px;
    text-align: right;
    
}

